
#rcorner1{
    border-radius: 15px 0px 15px 0px;
    border: 2px solid red;
    background-color: rgba(255,255,255,0.4);
    width: 40px;
    height: 20px;
    padding: 25px;
}
#rcorner2{
    border-radius: 15px;
    border: 2px solid red;
    background-color: rgba(255,192,255,0.5);;
    color: aliceblue;
    width: 40px;
    height: 20px;
    padding: 25px;
}
#rcorner3{
    border-radius: 0px 15px 15px 0px;
    border: 2px solid red;
    background-color:rgba(255,0,255,0.4);
    opacity:0.6;
    color: white;
    width: 40px;
    height: 20px;
    padding: 25px;
}
#rcorner4{
    border-radius: 50px/15px;
    border: 2px solid red;
    background-image: linear-gradient(red, yellow, green);
    opacity:0.9;
    color: white;
    width: 40px;
    height: 20px;
    padding: 25px;
}
#rcorner5{
    border-radius: 15px / 50px;
    border: 2px solid red;
    background-image:linear-gradient(to right,red, yellow);
    color: white;
    width: 40px;
    height: 20px;
    padding: 25px;
}
#rcorner6{
    border-radius: 50%;
    border: 2px solid red;
    background-image: linear-gradient(-90deg, red, yellow);
    color: white;
    width: 40px;
    height: 20px;
    padding: 25px;
}
#image{
    background-image: url(/images/images.png), url(/images/img_5terre.jpg);
    background-position: right bottom, left top;
    background-repeat: no-repeat, no-repeat;
    padding: 180px;
}
.card {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
.shadow{
    text-shadow: 13px 13px 13px #FF0000;
  }
  .multi-shadow{
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  }
  .test1{
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 200px;
      border: 2px solid tomato ;
  }
  .test1:hover{
      overflow: visible;
      width: 850px;
  }
  .test2{
      word-wrap: break-word;
      border: 2px solid red;
      width:300px;
  }
  .test3{
    word-break: keep-all;
    border: 2px solid red;
    width: 100px;
  }
  .test4{
    word-break: break-all;
    border: 2px solid red;
    width: 300px;
  }
  .test5{
   writing-mode: horizontal-tb;   
  }
  .test6{
    writing-mode: vertical-lr;   
   }
   .test7{
    writing-mode: vertical-rl;   
   }
   .test8{
    writing-mode: sideways-lr;   
   }
   .test9{
       writing-mode: sideways-rl;
   }
   .test10{
    text-align: justify;
    text-justify: inter-word;
    width: 400px;
    border: 2px solid red;
}
@font-face{
    font-family: testfont;
    src:url(/fonts/SansationLight.woff)
}
.test11{
    font-family: testfont;
    font-weight: bolder;
    font-size: 20px;
}
.rotate3d{
    transform: rotate3d(10,20,10,150deg);
    width:200px;
    height: 50px;
    background-color: #0000FF;
}
.rotatex{
    transform: rotateX(150deg);
    width:200px;
    height: 50px;
    background-color:yellow;
}
.rotatey{
    width:200px;
    height: 50px;
    background-color:green;
    transform: rotateY(150deg);
}
.rotatez{
    width:200px;
    height: 50px;
    background-color:skyblue;
    transform: rotateZ(90deg);
}
.scalex{
    width:300px;
    height: 150px;
    background-color:yellowgreen;
    transform: scaleX(1.2);
}
.skewx{
    width:300px;
    height: 150px;
    background-color:teal;
    transform: skewX(20deg)

}
.transitions{
    width: 10px;
    height: 50px;
    background-color: slategray;
    transition: width 20s;
}
.transitions:hover{
    width:1300px;
}
.transitionf{
    width: 20px;
    height: 20px;
    background-color: coral;
    opacity: 0.3;
    transition: width 30s, height 30s, font-size 30s;
}
.transitionf h1{
    display: none;
    text-align: center;
    font-size: 10px;
}
.transitionf:hover{
    width:300px;
    height:300px;
}
.transitionf:hover h1{
    display: block;
    font-size: 30px;
}